[Unit]
Description=RPi Club Smart Fans HAT daemon
DefaultDependencies=no
Requires=systemd-modules-load.service
After=systemd-modules-load.service
Before=sysvinit.target
Conflicts=shutdown.target

[Service]
User=root
Group=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/SmartFans_daemon.py &

[Install]
WantedBy=sysinit.target

